<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

        <!--Bootstrap core CSS* -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
    <link href="~/css/UserHomeStyleSheet.css" rel="stylesheet" />
    <link href="~/css/DatesCalendarStyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery-3.6.3.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Libs Calendar-->
    <script src="~/lib/calendar/54407644e24173ad6019b766443bf2a6.js"></script>
    <script src="~/lib/calendar/react-dom.development.js"></script>
    <script src="~/lib/calendar/react.development.js"></script>
    <script src="~/lib/calendar/index.min.js"></script>

    <script src="~/js/user_home.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
