<div class="container">
    <div style="display:flex; align-items: flex-end;">
        <h2 class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">Servicios</h2>
        <h4 style="margin: 0 0 60px 10px"><a>TODOS</a></h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="~/images/service5.jpg" alt=""></figure>

                    <div class="caption">
                        <p class="title">Medicina preventiva</p>
                        <p>Vacunas, desparasitaciones internas y externas, revisiones periódicas (revisiones anuales, revisiones geriátricas, revisión de cachorros...)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="~/images/service2.jpg" alt=""></figure>

                    <div class="caption">
                        <p class="title">Identificación animal</p>
                        <p>Implantación de microchip en perros, gatos y hurones. Es la forma más rápida y segura de identificar a su animal de compañía.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="~/images/service6.png" alt=""></figure>
                    
                    <div class="caption">
                        <p class="title">Diagnóstico por imagen</p>
                        <p>Radiología simple y con contraste. <br/> Ecografía abdominal previa cita. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="thumb-pad1">
                <div class="thumbnail">
                    <figure><img src="~/images/service4.jpg" alt=""></figure>
                    
                    <div class="caption">
                        <p class="title">Laboratorio</p>
                        <p>Laboratorio propio de análisis clínicos para analíticas sanguíneas.  <br /> Laboratorio externo para citologías, biopsias y analisis de orina y heces. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="content_map">
    <div class="google-map-api">
        <div id="map-canvas" class="gmap" style="overflow: hidden">
            <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.5322327074623!2d-4.007082!3d40.286139999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41945caa0477eb%3A0x68ae0916007b7bd0!2sCl%C3%ADnica%20Veterinaria%20Serbal!5e0!3m2!1ses!2ses!4v1676844583291!5m2!1ses!2ses"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>