@{
    Layout = "_TemplateUser";
    ViewData["Title"] = "Historial Veterinario";
}

<!-- Page title -->
<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="h3 font-weight-400 mb-0 text-white">Tratamientos</h5>
        </div>
    </div>
</div>

<div class="container">

    <div class="card">
        <!-- Card header -->
        <div class="card-header actionss-toolbar border-0">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h6 class="d-inline-block mb-0">Historial</h6>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div>
            <!-- Ticket item START -->
            <div class="table-responsive">
                <table class="table align-items-center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Products</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                LOCA
                            </td>
                            <td>
                                BAILA
                            </td>
                            <td>
                                SOLA
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Ticket item END -->
        </div>
    </div>

</div>