@{
    Layout = "_TemplateUser";
    ViewData["Title"] = "User Home";
}



<main>

    <div class="dashboard clearfix">
        <ul class="tiles">
            <div class="col1 clearfix">

            <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
                <a asp-controller="Usuarios" asp-action="DatesCalendar">
                    <div><p>Calendario de citas</p></div>
                    <div><p>Ve todas tus citas</p></div>
                </a>
            </li>
            <li class="tile tile-small tile tile-2 slideTextRight" data-page-type="s-page" data-page-name="random-restored-page">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z" /></svg>
                </div>
                <div><p>Solicitar Cita</p></div>
            </li>
            <li class="tile tile-small last tile-3" data-page-type="r-page" data-page-name="random-r-page">
                    @*                <p class="icon-calendar-alt-fill"></p>*@
                <img src="~/images/userhome/calendario-laboral-2023_103.webp" />
            </li>
            <li class="tile tile-big tile-4" data-page-type="r-page" data-page-name="random-r-page">
                <figure>
                    <img src="images/blue.jpg" />
                    <figcaption class="tile-caption caption-left">Slide-out Caption from left</figcaption>
                </figure>
            </li>
    </div>

    <div class="col2 clearfix">
        <li class="tile tile-big tile-5" data-page-type="r-page" data-page-name="random-r-page">
            <div><p><span class="icon-cloudy"></span>Weather</p></div>
        </li>
        <li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
            <div><p><span class="icon-skype"></span>Skype</p></div>
            <div><p>Make a Call</p></div>
        </li>

        <li class="tile tile-small tile-7 rotate3d rotate3dX" data-page-type="r-page" data-page-name="random-r-page">
            <div class="faces">
                <div class="front"><span class="icon-picassa"></span></div>
                <div class="back"><p>Launch Picassa</p></div>
            </div>
        </li>
        <li class="tile tile-small last tile-8 rotate3d rotate3dY" data-page-type="r-page" data-page-name="random-r-page">
            <div class="faces">
                <div class="front">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.3.0 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z" /></svg>
                    </span>
                </div>
                <div class="back"><p>Descarga Pruebas</p></div>
            </div>
        </li>
    </div>

    <div class="col3 clearfix">
        <li class="tile tile-2xbig tile-9" data-page-type="custom-page" data-page-name="random-r-page">
            <figure>
                <img src="~/images/userhome/pets.jpg" />
                <figcaption class="tile-caption caption-bottom">Fixed Caption: Some Subtitle or Tile Description Goes Here with some kinda link or anything
            </figure>
        </li>
        <li class="tile tile-big tile-10" data-page-type="s-page" data-page-name="custom-page">
            <a asp-controller="Usuarios" asp-action="UserZone" asp-route-idusuario="@Context.User.FindFirst(ClaimTypes.NameIdentifier).Value">
                <div><p>Zona de Usuario</p></div>
            </a>
        </li>
    </div>
    </ul>
    </div>

    <script>

    </script>
