@{
    Layout = "_TemplateUser";
    ViewData["Title"] = "User Home";
}

<nav class="navbar navbar-expand-custom navbar-mainbg">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>

            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Address Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Log Out</a>
            </li>

        </ul>
    </div>
</nav>

<div class="demo-wrapper">

    <div class="dashboard clearfix">
        <ul class="tiles">
            <div class="col1 clearfix">

            <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-r-page">
                <a asp-controller="Usuarios" asp-action="DatesCalendar">
                    <div><p>This tile's content slides up</p></div>
                    <div><p>View all tasks</p></div>
                </a>
            </li>
            <li class="tile tile-small tile tile-2 slideTextRight" data-page-type="s-page" data-page-name="random-restored-page">
                <div><p class="icon-arrow-right"></p></div>
                <div><p>Tile's content slides right. Page opens from left</p></div>
            </li>
            <li class="tile tile-small last tile-3" data-page-type="r-page" data-page-name="random-r-page">
                <p class="icon-calendar-alt-fill"></p>
            </li>
            <li class="tile tile-big tile-4" data-page-type="r-page" data-page-name="random-r-page">
                <figure>
                    <img src="images/blue.jpg" />
                    <figcaption class="tile-caption caption-left">Slide-out Caption from left</figcaption>
                </figure>
            </li>
    </div>

    <div class="col2 clearfix">
        <li class="tile tile-big tile-5" data-page-type="r-page" data-page-name="random-r-page">
            <div><p><span class="icon-cloudy"></span>Weather</p></div>
        </li>
        <li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
            <div><p><span class="icon-skype"></span>Skype</p></div>
            <div><p>Make a Call</p></div>
        </li>

        <li class="tile tile-small tile-7 rotate3d rotate3dX" data-page-type="r-page" data-page-name="random-r-page">
            <div class="faces">
                <div class="front"><span class="icon-picassa"></span></div>
                <div class="back"><p>Launch Picassa</p></div>
            </div>
        </li>
        <li class="tile tile-small last tile-8 rotate3d rotate3dY" data-page-type="r-page" data-page-name="random-r-page">
            <div class="faces">
                <div class="front"><span class="icon-instagram"></span></div>
                <div class="back"><p>Launch Instagram</p></div>
            </div>
        </li>
    </div>

    <div class="col3 clearfix">
        <li class="tile tile-2xbig tile-9" data-page-type="custom-page" data-page-name="random-r-page">
            <figure>
                <img src="images/summer.jpg" />
                <figcaption class="tile-caption caption-bottom">Fixed Caption: Some Subtitle or Tile Description Goes Here with some kinda link or anything
            </figure>
        </li>
        <li class="tile tile-big tile-10" data-page-type="s-page" data-page-name="custom-page">
            <div><p>Windows-8-like Animations with CSS3 & jQuery © Sara Soueidan. Licensed under MIT.</p></div>
        </li>
    </div>
    </ul>
</div>

<script>
   // ---------Responsive-navbar-active-animation-----------
function test() {
  var tabsNewAnim = $("#navbarSupportedContent");
  var selectorNewAnim = $("#navbarSupportedContent").find("li").length;
  var activeItemNewAnim = tabsNewAnim.find(".active");
  var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
  var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
  var itemPosNewAnimTop = activeItemNewAnim.position();
  var itemPosNewAnimLeft = activeItemNewAnim.position();
  $(".hori-selector").css({
    top: itemPosNewAnimTop.top + "px",
    left: itemPosNewAnimLeft.left + "px",
    height: activeWidthNewAnimHeight + "px",
    width: activeWidthNewAnimWidth + "px"
  });
  $("#navbarSupportedContent").on("click", "li", function (e) {
    $("#navbarSupportedContent ul li").removeClass("active");
    $(this).addClass("active");
    var activeWidthNewAnimHeight = $(this).innerHeight();
    var activeWidthNewAnimWidth = $(this).innerWidth();
    var itemPosNewAnimTop = $(this).position();
    var itemPosNewAnimLeft = $(this).position();
    $(".hori-selector").css({
      top: itemPosNewAnimTop.top + "px",
      left: itemPosNewAnimLeft.left + "px",
      height: activeWidthNewAnimHeight + "px",
      width: activeWidthNewAnimWidth + "px"
    });
  });
}
$(document).ready(function () {
  setTimeout(function () {
    test();
  });
});
$(window).on("resize", function () {
  setTimeout(function () {
    test();
  }, 500);
});
$(".navbar-toggler").click(function () {
  $(".navbar-collapse").slideToggle(300);
  setTimeout(function () {
    test();
  });
});

// --------------add active class-on another-page move----------
jQuery(document).ready(function ($) {
  // Get current path and find target link
  var path = window.location.pathname.split("/").pop();

  // Account for home page with empty path
  if (path == "") {
    path = "index.html";
  }

  var target = $('#navbarSupportedContent ul li a[href="' + path + '"]');
  // Add active class to target link
  target.parent().addClass("active");
});

</script>